
$app-header-background-color: #1487AC;
$app-header-text-color: #fff;
$app-header-text-shadow-color: null;
$app-header-use-gradient: false;

@if $theme-name == 'ext-theme-crisp' {
    $app-header-background-color: #1487AC;
    $app-header-use-gradient: true;
}

.app-header {
    @if $app-header-use-gradient {
        @include background-image(linear-gradient(top, lighten($app-header-background-color, 20), darken($app-header-background-color, 20)));
    } @else {
        background-color: $app-header-background-color;
    }
	border-bottom: 1px solid darken($app-header-background-color, 15);

    @if $theme-name == 'ext-theme-neptune' {
        .#{$prefix}nlg & {
            background-image: url(images/header-bg.png);
        }
    }
}

.app-header-title {
    padding: 15px 0 10px 0;

    color: #fff;
    font-size: 18px;
    font-weight: bold;
    @if $app-header-text-shadow-color != null {
        text-shadow: 0 1px 0 $app-header-text-shadow-color;
    }
}

.app-header-logo {
    width: 40px;
    height: 25px;

    background: url(images/logo.jpg) no-repeat center 4px;
}

#app-header-username {
    cursor: pointer;
}
