
$app-header-background-color: rgb(64, 64, 64);
$app-header-text-color: #fff;
$app-header-text-shadow-color: null;
$app-header-use-gradient: false;

.app-header {
	background-color: $app-header-background-color;
}

.app-header-title {
    padding: 15px 0 10px 0;

    color: #fff;
    font-size: 18px;
    font-weight: bold;
    @if $app-header-text-shadow-color != null {
        text-shadow: 0 1px 0 $app-header-text-shadow-color;
    }
}

.app-header-logo {
    width: 40px;
    height: 25px;

    background: url(images/logo.jpg) no-repeat center 4px;
}

#app-header-username {
    cursor: pointer;
}

